body{
    background-color: red ;
}
#heading{
    text-decoration: dashed;
    color: brown;
    background-color: beige;

}
.paragraph{
    background-color: rgb(215, 215, 250);
    color: #6e0909;
}